@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  box-sizing: border-box;

  &::after,
  &::before {
    box-sizing: border-box;
  }
}

$bg-color: hsl(53, 10%, 30%);

:root {
  --bg-hue: 53; //53
  --bg-color: linear-gradient(
    to top,
    hsl(var(--bg-hue), 20%, 18%),
    hsl(var(--bg-hue), 7%, 24%)
  );
  --text-color: hsl(var(--bg-hue), 0%, 70%);
  --hover-bg: rgba(255, 255, 255, 0.1);
  --audio-bar-bg: hsl(calc(var(--bg-hue) - 10), 50%, 10%);
  --audio-bar-played-bg: hsl(calc(var(--bg-hue) - 10), 30%, 40%);
  --audio-bar-buffered-bg: hsl(calc(var(--bg-hue) - 10), 30%, 30%);
  --audio-bar-loading-bg: rgba(255, 255, 255, 0.3);
  --audio-handle-bg: #{lighten($bg-color, 30%)};
  --spectrum-color: hsl(calc(var(--bg-hue) + 10), 15%, 35%);
  --active-color: hsl(calc(var(--bg-hue) - 50), 50%, 70%);
  --active-bg: hsl(calc(var(--bg-hue) + 10), 20%, 30%);

  --scrollbar-foreground: hsl(calc(var(--bg-hue)), 20%, 30%);
  --scrollbar-background: transparent;
}

html {
  font-size: 80.5%;
  user-select: none;
}

body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", "Arial", sans-serif;
  background: url(https://www.toptal.com/designers/subtlepatterns/patterns/herringbone.png);
}

@mixin scrollbars(
  $size: 4px,
  $foreground-color: var(--scrollbar-foreground),
  $background-color: var(--scrollbar-background)
) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width: $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    border-radius: 0.3rem;
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
    // firefox
    scrollbar-width: thin;
    scrollbar-color: $foreground-color $background-color;
  }
}

#ripple-effect-list,
#ripple-effect-info {
  position: absolute;
  top: 2%;
  right: 4%;
  height: 4em;
  width: 4em;
  background: var(--bg-color);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
  z-index: 6;
  transition-delay: 0.2s;
  transform: scale(0);

  &.active {
    transform: scale(30);
  }
}

#ripple-effect-info {
  left: 4%;
}

#player-wrapper {
  border-radius: 2rem;
  height: 50rem;
  width: 25rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.2);
  background: var(--bg-color);
  overflow: hidden;

  &[data-show-list="true"] {
    #ripple-effect-list {
      transition-delay: 0s;
    }

    .playlist-container {
      pointer-events: initial;

      .list-container {
        opacity: 1;
        transition-delay: 0.35s;
      }
    }
  }

  &[data-show-info="true"] {
    #ripple-effect-info {
      transition-delay: 0s;
    }

    .info-container {
      pointer-events: initial;

      .info-wrapper {
        opacity: 1;
        transition-delay: 0.35s;
      }
    }
  }

  .toolbar {
    .list-icon,
    .info-icon {
      font-size: 1.3rem;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 0.1em;
      position: absolute;
      top: 2%;
      right: 4%;
      color: var(--text-color);
      z-index: 8;

      i {
        padding: 1.2rem;
        cursor: pointer;
        transition: background-color 0.3s;
        border-radius: 50%;

        &:hover {
          background-color: var(--hover-bg);
        }
      }
    }

    #close {
      font-size: 1.5rem;
      position: absolute;
      top: -2%;
      left: 50%;
      color: var(--text-color);
      z-index: 8;
      transform: translate(-50%, -100%);
      transition: all 0.3s;

      &.show {
        transform: translate(-50%, 0);
        top: 2%;
      }

      i {
        display: flex;
        height: 2.35em;
        width: 2.35em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: var(--hover-bg);
        }
      }
    }

    .info-icon {
      left: 4%;
      right: unset;
      font-size: 1.5rem;
    }
  }

  .info-container {
    height: inherit;
    width: inherit;
    border-radius: inherit;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    align-items: center;
    font-size: 1.1rem;
    padding: 5em 2.3em 2em;
    pointer-events: none;
    z-index: 6;
    left: 0;
    top: 0;

    .info-wrapper {
      opacity: 0;
      overflow: auto;
      transition: all 0.2s;
      padding: 0 2em 0 0;
      line-height: 1.7em;
      @include scrollbars();

      p {
        margin: 0;
        margin-bottom: 1.4em;
      }
    }
  }

  .playlist-container {
    height: inherit;
    width: inherit;
    border-radius: inherit;
    position: absolute;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    align-items: center;
    font-size: 2rem;
    padding: 3em 1em 1.5em;
    pointer-events: none;
    z-index: 6;
    left: 0;
    top: 0;

    .list-container {
      font-size: 1.3rem;
      overflow: auto;
      width: 100%;
      padding-right: 0.5em;
      @include scrollbars(4px);
      transition-delay: 0;
      opacity: 0;
      transition: all 0.2s;

      .list-item {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.2em;
        cursor: pointer;
        transition: all 0.2s;
        padding: 0.8em 0.8em;
        border-radius: 0.3em;
        position: relative;

        &:hover {
          background-color: var(--hover-bg);
        }

        &.active {
          background-color: var(--active-bg);

          @keyframes loading-list {
            0% {
              background-position: 0 0;
            }
            100% {
              background-position: 4em 0;
            }
          }
          .loading {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: repeating-linear-gradient(
              -70deg,
              var(--audio-bar-loading-bg) 0% 30%,
              rgba(243, 156, 18, 0) 30% 68%,
              var(--audio-bar-loading-bg) 68% 100%
            );
            background-size: 4em 4em;

            z-index: 0;
            animation: loading-list 3s linear infinite;
            pointer-events: none;
          }
        }
        > div {
          z-index: 1;
        }
        .meta {
          display: flex;
          justify-content: space-between;
          font-size: 0.8em;
        }
      }
    }
  }

  .player-container {
    height: inherit;
    width: inherit;
    border-radius: inherit;

    display: flex;
    flex-direction: column;
    color: var(--text-color);
    align-items: center;
    font-size: 2rem;
    padding: 2.5em 0.5em 2em 0.5em;

    .title {
      font-size: 1em;
      font-weight: bold;
      white-space: nowrap;
      text-transform: capitalize;
    }

    .author {
      font-size: 0.5em;
      text-align: center;
      text-transform: capitalize;
    }

    .cover-wrapper {
      position: relative;
      height: 8em;
      width: 8em;
      margin: 1.5em 0;
      .prev-next {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 5;
        display: flex;
        justify-content: space-around;
        align-items: center;
        &:hover {
          background-color: rgba(white, 0.1);
          ~ .cover img {
            filter: sepia(0.5) saturate(2) blur(5px);
          }

          div {
            opacity: 1;
            &.disabled {
              opacity: 0.2;
              cursor: default;
            }
          }
        }
        div {
          border-radius: 50%;
          height: 20%;
          width: 20%;
          background-color: transp;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 1em;
          color: var(--text-color);
          cursor: pointer;
          transition: all 0.2s;
          font-size: 1.5em;

          opacity: 0;
          &:hover:not(.disabled) {
            background-color: var(--hover-bg);
          }
        }
      }
      #spectrum {
        height: 120%;
        width: 120%;
        border-radius: 50%;

        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        polygon {
          stroke: var(--spectrum-color);
          stroke-width: 0.1em;
          fill: transparent;
        }
      }

      .cover {
        overflow: hidden;
        height: 100%;
        width: 100%;
        border-radius: 50%;

        flex-shrink: 0;

        img {
          max-width: 100%;
          filter: sepia(0.5) saturate(2);
          transition: all 0.2s;
        }
      }
    }

    .chapter {
      margin-bottom: 2em;
      font-size: 0.7em;
    }

    .audio-bar-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-bottom: 1em;

      .audio-bar-container {
        position: relative;
        padding: 0.3rem 0;

        &:hover .handle {
          transform: translate(-50%, -50%) scale(1);
        }

        .bar {
          width: 100%;
          height: 0.1em;
          background-color: var(--audio-bar-bg);
          border-radius: 0.3em;
          position: relative;

          @keyframes loading {
            0% {
              background-position: 0 0;
            }
            100% {
              background-position: 0.6em 0;
            }
          }
          .loading {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-image: repeating-linear-gradient(
              -55deg,
              var(--audio-bar-loading-bg) 0% 30%,
              rgba(243, 156, 18, 0) 30% 68%,
              var(--audio-bar-loading-bg) 68% 100%
            );

            background-size: 0.6em 0.4em;
            z-index: 5;
            animation: loading 1s linear infinite;
          }
          .played {
            position: absolute;
            z-index: 3;
            background-color: var(--audio-bar-played-bg);
            height: 100%;
            left: 0;
          }

          .buffered {
            background-color: var(--audio-bar-buffered-bg);
            display: inline-block;
            height: 100%;
            position: absolute;
            z-index: 2;
          }
        }

        .handle {
          height: 0.6em;
          width: 0.6em;
          border-radius: 50%;
          cursor: pointer;
          background-color: var(--audio-handle-bg);
          position: absolute;
          transform: translate(-50%, -50%) scale(0);
          top: 50%;
          // box-shadow: 0 0 0rem 0.2rem rgba(255, 255, 255, 0.2);
          z-index: 4;
          transition: transform 0.3s;
        }
      }

      .time-container {
        display: flex;
        justify-content: space-between;
        font-size: 0.5em;
        margin-top: 0.7em;
      }
    }

    .options {
      display: flex;
      font-size: 0.5em;
      justify-content: space-between;
      width: 90%;
      align-items: center;
      margin-bottom: 1em;

      div {
        cursor: pointer;
        transition: all 0.2s;
        border-radius: 50%;
        height: 3em;
        width: 3em;
        display: flex;
        justify-content: center;
        align-items: center;

        &.repeat i {
          font-size: 1.5em;
        }

        &.speed {
          font-size: 1.1em;
        }

        &.inactive {
          opacity: 0.3;
          cursor: default;
        }

        &.active {
          color: var(--active-color);
        }

        &:hover:not(.inactive) {
          background-color: var(--hover-bg);
        }
      }
    }

    .controls {
      display: flex;
      font-size: 0.5em;
      justify-content: space-between;
      width: 90%;
      align-items: center;

      .play-pause {
        font-size: 2em;
        height: 2em;
        width: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      div {
        cursor: pointer;
        transition: all 0.2s;
        border-radius: 50%;
        height: 3em;
        width: 3em;
        display: flex;
        justify-content: center;
        align-items: center;

        &.inactive {
          opacity: 0.3;
          cursor: default;
        }

        &:hover:not(.inactive) {
          background-color: var(--hover-bg);
        }
      }
    }
  }
}

#error-box {
  background-color: #f8d7da;
  padding: 1rem 2rem;
  border: 0.1rem solid #f5c6cb;
  position: absolute;
  bottom: 10%;
  width: 90%;
  left: 50%;
  border-radius: 0.4rem;
  transition: all 0.3s;
  transform: translate(-50%, 50%) scale(0);
  pointer-events: none;
  color: #721c24;
  font-weight: bold;

  &.show {
    transform: translate(-50%, 50%) scale(1);
  }
}
