#theme-button {
  background-color: blue;
  color: white;
  margin: auto;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
  .theme-1 {
    background-color: blue;
  }
  
  .theme-2 {
    background-color: green;
  }
  
  .theme-3 {
    background-color: purple;
  }
  
  .theme-4 {
    background-color: red;
  }
  